.footer-text span{
    color:#8121d0;
}
.footer-icons{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 5px;
}
.footer{
    background-color: #331c52;
    text-align: center;
}
.footer-text p{
    color: white;
}
.footer-icons svg{
    fill: white;
    
}
.footer-text{
    padding-top: 20px;
    padding-bottom: 10px;
}
 /*=========================Media Queries (Medium Device======*/
 @media screen and (max-width: 1024px) {
    .footer{
     
    }
     
   }